:root {
    --dark: 0 20 40;
    --light: 236 233 252;
}

body, html, h1, h2, p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(var(--dark));
    color: rgb(var(--light));
    display: flex;
    flex-flow: column nowrap;
}

nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: auto 0 auto 2rem;
}

hr {
    margin: 0 .5rem 1rem .5rem;
    border: none;
    border-top: 2px solid rgb(var(--light)/ .8);
}

#user-profile {
    height: calc(100% - 16px);
    margin: 8px;
    aspect-ratio: 1;
    border-radius: 100%;
    background: rgb(20 40 60);
}


#cards-container {
    margin: 1rem 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1000px) {
    #cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

.card {
    background: rgb(var(--light) / .05);
    border-radius: .5rem;
    padding: 1rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
}

.card h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.card:hover {
    background: rgb(var(--light) / .1);
}

.card-details * {
    font-size: .8rem;
}

small, .card-details * {
    font-weight: 300;
}

.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.material-symbols-outlined {
    vertical-align: bottom;
}