/* Variable declarations for color scheme */
:root {
    --background-color: #232634;
    --upper-page-background: #5e28a6;
    --letter-color: #eff1f5;
    --letter-color2: #00fff7;
    --nav-hover: #ca9ee6;
    --button-background: #7e28ef;
    --button-bg-hover: #7115e8;
    --form-bg: #944deb;
    --shadow: #421c72;
    --title-color: #00ffea;
}

/* Resetting default styles and setting global styles */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1.15px;
}

/* Setting base font size for better responsiveness */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* Styling for the body */
body {
    position: relative;
    background-color: var(--background-color);
}

/* Background image styling */
.bg-img {
    position: fixed;
    z-index: -1;
    background-image: url('../images/5039684.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

/* Spacer for visual appeal */
.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Styling for upper and footer dividers */
.upper-divider {
    background-image: url('../svg/upper-divider.svg');
}

.footer-divider {
    background-image: url('../svg/footer-divider.svg');
}

/* Styling for a line divider */
.line-divider {
    width: 60%;
    border-bottom: 2px solid var(--letter-color);
    margin: 0 auto;
}

/* Styling for body scrollbar */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--upper-page-background);
    border-radius: 10px;
}

/* Upper page styles */
#upper-page {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
}

/* Navigation bar styling */
.nav-bar {
    position: relative;
}

/* Page name styling */
#page-name {
    position: absolute;
    left: 150px;
    color: var(--title-color);
    font-weight: bold;
    font-size: 6rem;
    transition: color 0.2s;
    cursor:pointer;
    text-decoration: none;
}

#page-name:hover {
    color: var(--nav-hover);
}

/* Navigation link container styling */
.nav-link-container {
    position: absolute;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation link styling */
.nav-link-container > li {
    list-style: none;
    margin-left: 60px;
}

.nav-link {
    color: var(--letter-color);
    font-size: 2.4rem;
    text-decoration: none;
    border-bottom: 2px solid var(--letter-color);
    transition: color 0.2s, border-bottom 0.2s;
}

.nav-link:hover {
    color: var(--nav-hover);
    border-bottom: 2px solid var(--nav-hover);
}

/* Sign-in button styling */
.sign-in-button {
    border-radius: 20px;
    border: none;
    background-color: var(--button-background);
    color: var(--letter-color);
    padding: 10px 15px;
    font-size: 2.4rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sign-in-button:hover {
    background-color: var(--button-bg-hover);
}

/* Upper page article styling */
#upper-page-article {
    width: 100%;
    margin: 200px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Short info styling */
#short-info {
    width: 30%;
    min-width: 500px;
}

#upper-page-article > #short-info > h2 {
    font-size: 5rem;
    color: var(--letter-color);
    font-weight: bold;
}

#upper-page-article > #short-info > h2 > span {
    color: var(--letter-color2);
}

#upper-page-article > #short-info > p {
    margin-top: 20px;
    font-size: 2rem;
    color: var(--letter-color);
}

/* Form styling */
form {
    width: 20%;
    min-width: 300px;
    background-color: var(--form-bg);
    padding: 50px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px var(--shadow);
}

form > h1 {
    font-size: 5rem;
    color: var(--letter-color);
}

/* Input position styling */
.input-position {
    position: relative;
    margin-top: 50px;
    width: 100%;
}

/* Input box styling */
.input-box {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid var(--letter-color);
    outline: none;
    font-size: 2.4rem;
    color: var(--letter-color);
    transition: border-bottom 0.5s, color 0.5s;
}

/* Input label styling */
.input-label {
    position: absolute;
    top: -10px;
    font-size: 2.8rem;
    font-weight: bold;
    user-select: none;
    color: var(--letter-color);
    opacity: 0.9;
    display: flex;
    align-items: last baseline;
    transition: top 0.25s, font-size 0.3s, color 0.2s;
}

.input-box:focus + .input-label,
.input-box:valid + .input-label,
.input-box.filled + .input-label {
    top: -30px;
    font-size: 2rem;
    color: var(--letter-color2);
    opacity: 0.8;
}

/* Sign-up button styling */
#sign-up-button {
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    font-weight: bold;
    color: var(--letter-color);
    background-color: var(--button-background);
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 50px;
    transition: background-color 0.2s;
    cursor: pointer;
}

#sign-up-button:hover {
    background-color: var(--button-bg-hover);
}

/* Info section styles */
#info {
    background-color: var(--background-color);
}

/* About us section styling */
#about-us {
    width: 60%;
    margin: auto;
    padding: 20px 50px;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-us > h1 {
    font-size: 5rem;
    color: var(--letter-color);
}

#about-us > p {
    font-size: 2rem;
    color: var(--letter-color);
}

/* Footer styles */
footer {
    background-color: var(--upper-page-background);
    width: 100%;
    height: fit-content;
    text-align: center;
}

/* Social media links styling */
#social-media-links > h1 {
    font-size: 4rem;
    color: var(--letter-color);
}

#social-media-links > ul {
    width: 20%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social-media-links > ul > li {
    background-color: var(--letter-color);
    width: 40px;
    height: 40px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 100px;
    list-style: none;
}

#social-media-links > ul > li > a > img {
    border-radius: 100px;
}

/* Footer navigation link container styling */
.footer-nav-link-container {
    width: 40%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer-nav-link-container > li {
    font-size: 1.6rem;
    list-style: none;
}

/* Right container styling */
#right-container {
    background-color: var(--shadow);
    font-size: 1.4rem;
    color: var(--letter-color);
    padding: 20px;
}
