/* Fonts */
@font-face {
    font-family: 'Terminal';
    src: url('../assets/_decterm.ttf') format('truetype');
}

/* Global Styles */
* {
    font-size: 10px;
    font-family: 'Terminal';
    letter-spacing: 1.15px;
    word-spacing: 1.15px;
    box-sizing: border-box;
    user-select: none;
}

/* Layout */
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* Background */
#backgroundCanvas {
    background-color: black;
    z-index: -100;
    position: fixed;
    top: 0;
}

/* Overlay */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: 0;
}

/* Introduction */
#intro-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.intro-paragraph {
    font-size: 3rem;
    color: #00FF00;
}

/* Testing */
#testing {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 5px solid white;
    width: 50px;
    height: 50px;
}

/* Instructions */
#instructions {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00FF00; 
    background-color: rgb(0, 0, 0);
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    z-index: -1000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle {
    color: #00FF00;
    font-size: 6rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Lists */
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: fit-content;
    margin: auto;
    width: 1%;
}

li {
    font-size: 2.5rem;
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Image Containers */
#area-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    gap: 40px;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.img-container {
    display: flex;
    justify-content: center;
}

svg {
    width: fit-content;
    transition: width 0.1s, height 0.1s;
    width: 300px;
}

.img-container:hover > svg {
    width:  350px;
}

/* Divider */
.divider {
    border-bottom: 1px solid #00FF00;
    width: 100%;
    margin: 40px 0;
}

/* Interactive Boxes */
.interactive-box {
    position: fixed;
    border: 5px solid white;
    background-color: rgba(255, 255, 255, 0.358);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1000;
}

.interactive-box:hover {
    opacity: 1;
}

#lab1-box1 {
    top: 1375px;
    left: 850px;
    width: 160px;
    height: 120px;
}

#lab1-box2 {
    top: 950px;
    left: 3365px;
    width: 435px;
    height: 340px;
}

/* Footer */
footer > p {
    font-size: 2rem;
    margin-bottom: 0;
}

/* Buttons */
button {
    position: fixed;
}

#skip-intro-btn {
    top: 1%;
    right: 1%;
    width: 100px;
    height: 50px;
    font-size: 3rem;
    color: #00FF00;
    background-color: transparent;
    border: 1px solid #00FF00;
    font-weight: bold;
    transition: background-color 0.5s;
    z-index: -1000;
}

#skip-intro-btn:hover {
    background-color: #00ff0029;
}

#display-content {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2000;
}
