/* Global Styles */
* {
    font-size: 10px;
    font-family: 'VT323', monospace;
    letter-spacing: 1.15px;
    word-spacing: 1.15px;
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

/* Layout */
body {
    overflow: hidden;
    position: relative;
}

/* Background */
#backgroundCanvas {
    background-color: black;
    z-index: -100;
    position: fixed;
    top: 0;
}

/* Overlay */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
    top: 0;
}

/* Main Menu style */
#main-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    color: #00b700;
}

header {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: black;
    padding: 10px;
    border: 3px solid #00b700;
}

h1 {
    font-size: 14vh;
    text-align: center;
}

/* Highscore styles */
#highscore-section {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    color: #00b700;
    border: 3px solid #00b700;
    padding: 20px;
    z-index: 1;
}

#highscore-section > header {
    width: 20vw;
    padding-bottom: 5px;
    border: 0;
    border-bottom: 3px solid #00b700;
}

#highscore-section > header > h2 {
    font-size: 5vh;
    text-align: center;
}


#highscore-container {
    text-align: center;
    padding-top: 20px;
}

#highscore-container > p {
    font-size: 4vh;
}

/* Introduction */
#intro-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: -2000;
}

.intro-paragraph {
    font-size: 4vh;
    margin-bottom: 20px;
    color: #00FF00;
}

/* Instructions */
#instruction-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00FF00; 
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: -2000;
    text-align: center;
}

#intructions {
    padding-top: 10px;
    overflow: auto;
    height: 25%;
    border-bottom: 1px solid #00FF00;
}

.subtitle {
    color: #00FF00;
    font-size: 7vh;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

/* Lists */
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: fit-content;
    margin: auto;
    width: 1%;
}

li {
    font-size: 3vh;
    margin-left: 30px;
    margin-top: 5px;
}

/* Image Containers */
#locations {
    position: relative;
    width: 100%;
    overflow: auto;
    height: 70%;
    border-bottom: 1px solid #00FF00;
    padding-top: 20px;
}

#area-container {
    position: inherit;
    flex-wrap: wrap;
    width: 60%;
    height: 80%;
    gap: 5vw;
    padding-top: 10px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.area-img {
    width: fit-content;
    transition: width 0.1s, height 0.1s;
    width: 40vh;
    height: 16vh;
}

.img-container:hover > img {
    width:  48vh;
    height: 19.2vh;
}

footer {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    font-size: 2vh;
}

/* Timer styles */
#timer-section {
    position: fixed;
    top: 2%;
    left: 2%;
    background-color: rgb(0, 0, 0);
    border: 3px solid #00b700;
    color: white;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    z-index: -2000;
}

#time {
    font-size: 5vh;
    color: #00b700;
}

/* Interactive Boxes */
.interactive-box {
    position: fixed;
    border: 5px solid #00b700;
    background-color: #00b70064;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1000;
}

.interactive-box:hover {
    opacity: 1;
}

#lab1-box1 {
    top: 1375px;
    left: 850px;
    width: 160px;
    height: 120px;
}

#lab1-box2 {
    top: 950px;
    left: 3365px;
    width: 435px;
    height: 340px;
}

#lab2-box1 {
    top: 900px;
    left: 45px;
    width: 165px;
    height: 240px;
}

#lab2-box2 {
    top: 80px;
    left: 1050px;
    width: 900px;
    height: 150px;
}

#lab2-box3 {
    top: 925px;
    left: 2980px;
    width: 360px;
    height: 160px;
}

#lab3-box1 {
    top: 1010px;
    left: 3600px;
    width: 240px;
    height: 160px;
}

#lab3-box2 {
    top: 1410px;
    left: 410px;
    width: 230px;
    height: 240px;
}

#exit-box1 {
    top: 785px;
    left: 1085px;
    width: 300px;
    height: 230px;
}

#exit-box2 {
    top: 905px;
    left: 2310px;
    width: 50px;
    height: 45px;
}
#exit-box3 {
    top: 1055px;
    left: 4250px;
    width: 150px;
    height: 100px;
}

#combination-lock-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a3546;
    width: 50vw;
    height: 50vh;
    border: 3px solid white;
    z-index: -3000;
}

#combination-lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;    
    border: 3px solid black;
    border-radius: 4px;
    padding: 0 4px 0;
    background-color: #374356;
}

.wheel {
    width: 7vw;
    text-align: center;
    padding: 0 4px;
    text-align: center;
}

.increment,
.decrement {
    background-color: #171c24;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    border: 3px solid black;
    cursor: pointer;
    transition: border-color 0.1s ease;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.increment {
    margin-top: -25px;
}

.decrement {
    margin-bottom: -25px;
}

.increment:active,
.decrement:active,
.digit:focus {
    border: 2px solid white;
}

.material-icons {
    color: white;
    font-size: 1.5vw;
}

.icon {
    font-size: 3vw;
}

.digit {
    background: #171c24;
    border: 3px solid black;
    border-radius: 3vw;
    caret-color: transparent;
    color: white;
    cursor: pointer;
    margin: 2vw 0;
    outline: none;
    padding: 8px 0;
    text-align: center;
    user-select: none;
    transition: border-color 0.1s ease;
    width: 4vw;
    font-size: 3vw;
    height: 7vw;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::placeholder {
    color: white;
}

.indicator {
    border: 3px solid black;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    overflow: hidden;
}

.lock,
.unlock {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
}

.lock {
    background-color: rgb(219, 0, 0);
}

.unlock {
    background-color: #00b700;
}

#right-indicator {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#left-indicator {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

/* GameOver Screen styles */
#game-over-screen {
    position: fixed;
    z-index: -3000;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #00b700;
    opacity: 0;
}

h2 {
    text-align: center;
    font-size: 5vh;
}

/* Completion time styles */
#completion-time-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #00b700;
    background-color: black;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}

#completion-time-section > header {
    width: fit-content;
    border: none;
    border-bottom: 3px solid #00b700;
}

/* Buttons */
button {
    position: fixed;
}

#startBtn, #restart {
    width: 30vh;
    height: 10vh;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: #00b700;
    font-size: 5vh;
    border: 3px solid #00b700;
    transition: background-color 0.3s;
}

#startBtn:hover, #restart:hover {
    background-color: #171c24;
}

#startBtn:active, #restart:active {
    border-color: white;
}

#skip-intro-btn {
    top: 1%;
    right: 1%;
    width: 100px;
    height: 50px;
    font-size: 3rem;
    color: #00FF00;
    background-color: transparent;
    border: 1px solid #00FF00;
    font-weight: bold;
    transition: background-color 0.5s;
    z-index: -1000;
}

#skip-intro-btn:hover {
    background-color: #00ff0029;
}

#display-content {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1000;
}