/* Main section styles */
main {
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Distribute space evenly between flex items */
    margin-top: 50px; /* Add top margin */
    flex-direction: row-reverse; /* Reverse the order of flex items */
}

/* Styles for difficulty and highscore sections */
#difficulty-section, #highscore-section {
    min-width: 300px; /* Set minimum width */
}

/* Styles for difficulty section */
#difficulty-section {
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Arrange items vertically */
}

/* Styles for difficulty buttons */
.difficulty {
    height: 100px; /* Set height */
    width: 400px; /* Set width */
    padding: 20px 40px ; /* Add padding */
    margin-bottom: 10px; /* Add bottom margin */
    border: 5px solid var(--letter-color); /* Add border with custom color */
    font-size: 2rem; /* Set font size */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Background styles for difficulty buttons and highscore container */
#easy, #normal, #impossible, #highscore-container {
    backdrop-filter: blur(10px); /* Apply backdrop filter with blur effect */
}

/* Background color for easy difficulty button */
#easy {
    background-color: rgba(30, 177, 30, 0.573); /* Set background color */
}

/* Background color for normal difficulty button */
#normal {
    background-color: rgba(228, 185, 43, 0.551); /* Set background color */
}

/* Background color for impossible difficulty button */
#impossible {
    background-color: rgba(196, 28, 28, 0.535); /* Set background color */
}

/* Styles for highscore title */
#highscore-title {
    font-size: 2.4rem; /* Set font size */
}

/* Styles for highscore */
#highscore {
    font-size: 2rem; /* Set font size */
}

/* Styles for highscore container */
#highscore-container {
    margin-top: 50px; /* Add top margin */
    height: 50%; /* Set height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Media query for smaller screens */
@media (max-width: 750px) {
    main {
        display: block; /* Change to block layout */
    }

    #highscore-section, #difficulty-section {
        margin-bottom: 50px; /* Add bottom margin */
    }

    #highscore-container, .difficulty {
        width: 50%; /* Set width */
    }
}
