/* Root styles */
:root {
    --title: 1;
    --menu: 1;
    --main-game: -2;
    --game-over: -2;
    --default-border-color: #a708b9;
    --left-border-color: #7f048d;
}

/* Toggle classes */
.start-game {
    --menu: -2;
    --main-game: 1;
    --game-over: -2;
}

.end-game {
    --title: -2;
    --menu: -2;
    --main-game: -2;
    --game-over: 1;
}

.to-menu {
    --menu: 1;
    --main-game: -2;
    --game-over: -2;
}

/* Background image styles */
#bg-img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../audio/background_img.jpeg);
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center center;
}

/* Custom fonts */
@font-face {
    font-family: pixel;
    src: url('../fonts/8-bit-pusab.ttf') format('truetype');
}

/* Body styles */
body {
    font-size: 10px;
    font-family: pixel, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
    user-select: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*! Elements styles */

/* Sections styles */
section {
    min-width: fit-content;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
header {
    width: 70%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #9c27b0; */
    backdrop-filter: blur(1px);
    background: rgba(211, 40, 230, 0.402);
    padding: 20px 40px;
    box-sizing: border-box;
    border: 5px solid #ff00f3;
    border-left: 5px solid #bc17d8;
    color: #fd78ff;
    z-index: var(--title);
    margin: 20px auto 100px;
}

#title {
    margin: 0;
    text-align: center;
    font-size: min(2.5rem, 5vw);
    margin: 10px 0 10px 0;
    width: 755px;
}

#sub-title {
    font-size: min(1.4rem, 3vw);
    margin: 0;
}

/* Button styles */
button {
    color: white;
    transition: background-color 0.25s, font-weight 0.1s;
    cursor:pointer;
    font-family: pixel;
    font-size: 1.6rem;
}

article {
    margin: 0 20px;
}

#menu-main article, #game-main, #game-over-main {
    backdrop-filter: blur(5px);
}
