* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 1.15px;
}

body {
    /* overflow: hidden; */
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
}

#canvas2 {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.32);
    z-index: 3;
}

#title-header {
    text-align: center;
    padding: 20px;
    background-color: rgba(39, 39, 39, 0.46);
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 6rem;
    color: #2a2a2a;
    transition: color 2s;
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgba(0, 0, 0, 0.594);
    border-radius: 10px;
    width: 30%;
    height: 15%;
    background: rgba(255, 255, 255, 0.18);
    font-size: 3rem;
    transition: background-color 0.3s;
    backdrop-filter: blur(10px);
    color: white;
    font-weight: bold;
}

#play-button:hover {
    background: rgba(255, 255, 255, 0.436);
}

#info-section {
    background-color: rgba(42, 42, 42, 0.582);
    backdrop-filter: blur(20px);
    max-width: 800px;
    min-width: 600px;
    width: 50%;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#info-article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 130px;
}

#difficulty-container, #theme-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.theme-wrapper, #difficulty-container > input {
    margin-right: 15px;
}

#info-section > header {
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

#info-section > header > h2 {
    font-size: 4rem;
    text-align: center;
}

#difficulty-section > label, #theme-section > label {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#difficulty-container > p, .theme-wrapper > label {
    font-size: 2rem;
    font-weight: bold;
}

#info-section > footer > p {
    font-size: 1.6rem;
}

#divider {
    border: 1px solid white;
}

#red-label {
    color: #d00000;
}

#blue-label {
    color: #5390d9;
}

#green-label {
    color: #55a630;
}

#setting-button {
    position: fixed;
    bottom: 0;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.648);
}

#setting-icon {
    color: white;
    transition: transform 0.5s ease;
}

#setting-button:hover {
    background: rgba(93, 93, 93, 0.703);
}

#setting-button:hover #setting-icon {
    transform: rotate(200deg);
}
